.btn {
  box-sizing: border-box;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  text-align: center;
  align-self: center;
  width: 300px;
  font-weight: bold;
  border-radius: 3px;
  display: inline-block;
  text-decoration: none;
  background-color: $color-green-sea;
}

.link {
  font-size: 14px;
  outline: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  :hover {
    text-decoration: none;
    outline: none;
  }
}
