.form-container {
  z-index: 1;
  box-sizing: border-box;
  background: $color-white;
  max-width: 600px;
  padding: 40px;
  border-radius: 3px;
  text-align: center;
}

.form-register-container {
  z-index: 1;
  box-sizing: border-box;
  background: $color-white;
  max-width: 900px;
  padding: 20px;
  border-radius: 3px;
  text-align: center;
}
