.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input {
  outline: 0;
  background-color: darken($color-white, $amount: 5%);
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 14px;
  &:focus {
    outline: none;
    transition: transform 0.15s ease;
    transform: scale(1.1);
  }
}

.input-invalid {
  background-color: lightcoral;
}

.input-register-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  padding: 20px;
}
